.btn-voltar {
    grid-template-columns: 30px 50px;
    text-decoration: none;
    align-items: center;
    font-size: 15px;
    display: grid;
    color: grey;
}

.btn-voltar:hover {
    text-decoration: none;
    color: grey;
}

.btn-gerar .btn-success {
    margin-top: 0 !important;
}