@import "bloquear-selecao.css";
@import "navbar.css";
@import "botoes.css";
@import "caixa.css";
@import "grid.css";
@import "modal.css";
@import "select.css";
@import "table.css";
@import "colapse.css";
@import "search.css";
@import "fonts.css";

body {
    background-color: #f9f9f9 !important
}

.conteudo {
    margin: 10px 0 0 !important;
}

@media screen and (max-width: 800px) {
    .conteudo {
        width: 100%;
        margin: 0;
    }
}
